@font-face {
  font-family: "fon"; /* Project id 4516012 */
  src: url('//at.alicdn.com/t/c/font_4516012_fhx8wayiey6.woff2?t=1713532976433') format('woff2'),
       url('//at.alicdn.com/t/c/font_4516012_fhx8wayiey6.woff?t=1713532976433') format('woff'),
       url('//at.alicdn.com/t/c/font_4516012_fhx8wayiey6.ttf?t=1713532976433') format('truetype');
}

.fon {
  font-family: "fon" !important;
  font-size: 19px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fon-tags:before {
  content: "\e60c";
}

.fon-book:before {
  content: "\e60d";
}

.fon-gettop:before {
  content: "\e60e";
}

.fon-categories:before {
  content: "\e60f";
}

.fon-time:before {
  content: "\e610";
}

.fon-update:before {
  content: "\e611";
}

.fon-config:before {
  content: "\e612";
}

.fon-calendar:before {
  content: "\e613";
}

.fon-commets:before {
  content: "\e614";
}

.fon-menu:before {
  content: "\e615";
}

.fon-tool:before {
  content: "\e616";
}

.fon-cross:before {
  content: "\e617";
}

.fon-archives:before {
  content: "\e618";
}

.fon-eye:before {
  content: "\e619";
}

.fon-link:before {
  content: "\e61a";
}

.fon-fenlan:before {
  content: "\e61b";
}

.fon-search:before {
  content: "\e61c";
}

.fon-word:before {
  content: "\e60b";
}

.fon-about:before {
  content: "\e60a";
}
