@font-face {
    font-family: "fcon"; /* Project id 4235328 */
    /* Color fonts */
    src: 
         url('//at.alicdn.com/t/c/font_4235328_96dqgdrmu7w.woff2?t=1693727162139') format('woff2'),
         url('//at.alicdn.com/t/c/font_4235328_96dqgdrmu7w.woff?t=1693727162139') format('woff'),
         url('//at.alicdn.com/t/c/font_4235328_96dqgdrmu7w.ttf?t=1693727162139') format('truetype');
  }
  
  .fcon {
    font-family: "fcon" !important;
    font-size: 22.5px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .fcon-cog:before {
    content: "\e60c";
  }
  
  .fcon-copy-botton:before {
    content: "\e60d";
  }
  
  .fcon-categories:before {
    content: "\e60e";
  }
  
  .fcon-search:before {
    content: "\e60f";
  }
  
  .fcon-arrow-alt:before {
    content: "\e610";
  }
  
  .fcon-reading:before {
    content: "\e611";
  }
  
  .fcon-eye:before {
    content: "\e612";
  }
  
  .fcon-list:before {
    content: "\e613";
  }
  
  .fcon-archives:before {
    content: "\e614";
  }
  
  .fcon-post-meta:before {
    content: "\e615";
  }
  
  .arrow-up:before {
    content: "\e616";
  }
  
  .fcon-cancel:before {
    content: "\e604";
  }
  
  .fcon-time:before {
    content: "\e606";
  }
  
  .fcon-calendar:before {
    content: "\e605";
  }
  
  .fcon-tags:before {
    content: "\e607";
  }
  
  .fcon-heart:before {
    content: "\e608";
  }
  
  .fcon-scroll-down:before {
    content: "\e609";
  }
  
  .fcon-comments:before {
    content: "\e60a";
  }
  
  .fcon-update:before {
    content: "\e60b";
  }
  