/*文章块*/
.cardHover, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
    border-radius: 12px;
    background: rgba(20, 20, 30, 1);
    box-shadow: #fff;
    opacity: 0.88;
}
/*文章块标题*/
#recent-posts > .recent-post-item >.recent-post-info > .article-title {
    font-size: 2em;
    font-weight: bold;
    font-family: Ipix;
}
/*页码*/
#pagination .page-number.current {
    background: #184953;
    color: var(--white);
}
/*背景*/
#content-inner{
    background-size: 100% auto;
    background-attachment: fixed;
}