/*你知道的太多了*/
.text-secert{
    color: #000;
    background-color: #000;
}
.text-secert:hover{
    color: #fff;
    background-color: #000;
}
/*文字渐变*/
.text-gradient{
    background:-webkit-linear-gradient(top, #FF0000, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*蓝色文字阴影*/
.text-milky{
    color:#3366FF;  /*设置文字颜色*/
    text-shadow: 0 8px 10px #6699FF;  /*设置文字阴影*/                                           
 }
 /*荧光闪烁*/
 .text-fluorescence{
    color:#0000FF; /*设置文字颜色*/
    text-decoration: none;
    -webkit-animation: shine 2.4s infinite;/*设置动画*/
 }
 @-webkit-keyframes shine{/*创建动画*/
     0%,100%{ color:#fff;text-shadow:0 0 10px #0000FF,0 0 10px #0000FF; }
     50%{ text-shadow:0 0 10px #0000FF,0 0 40px #0000FF; }
 }